.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

body {
    display: flex;
    flex-direction: column;
}

.header {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
}

.wrapper__bottom {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}
